root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.php]
ij_php_align_key_value_pairs = true
ij_php_align_class_constants = true
ij_php_align_multiline_chained_methods = true
ij_php_align_named_arguments = true
ij_php_align_assignments = true

[*.md]
trim_trailing_whitespace = false

